@model OnlineLearning.Core.ViewModels.AddAuthorVm

@{
    ViewData["Title"] = "Add New Author";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group mb-3">
        <label asp-for="FullName" class="form-label"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="Biography" class="form-label"></label>
        <textarea asp-for="Biography" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Biography" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="ImageFile" class="form-label">Author Image</label>
        <input asp-for="ImageFile" type="file" class="form-control" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>

    <button asp-controller="Author" asp-action="Create" type="submit" class="btn btn-primary">Add Author</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
</form>

@section Scripts {
  
}
